// Mixins Here
.center() {
    display: flex;
    justify-content: center;
}

//parametric mixins
// .button() {


//     font-size: 1.8rem;
//     font-weight: bold;

//     width: 30%;
//     padding: 2% 0;
//     border-radius: 5px;

//     background: black;
//     color: white;

// }

.buttonStructure(@w, @p1, @p2, @r){
    width: @w;
    padding: @p1 @p2;
    border-radius: @r;
}

.buttonColors(@b, @c){
    background: @b;
    color: @c;
}

.buttonText(@s, @w){
    font-size: @s;
    font-weight: @w;
}